body{
	display: block;
	background-color: dodgerblue;
	font-family: 'Roboto', helvetica, sans-serif;
	box-sizing: border-box;
	margin-right: auto;
	margin-left:  auto;
	text-align: center;
	width:400px;
}


.logo {
	height: 35px;
	display: block;
	margin: 30px auto 0;
	width: auto;
}



.form_wrap{
	
	padding: 40px; 
	background-color: white;
	/*border: 1px solid black;*/
	margin: 20px auto;
	width: 400px;
	border-radius: 3px;
}



input [type='email'],
input [type='password'],
button [type='submit'] 
{
	border-radius: 3px;
	display: block;
	margin: 20px;
	width: 100%;
	background-color: blue;
}

/*

.box{

	border: solid grey 2px;
	padding-left: 15px
	padding: 5px;
	margin-bottom: 5px;
	display: block;

}
*/

.form_wrap fieldset{
	padding-left: 0px;
	border: none;
}



.form_wrap legend{
	text-align: center;
	margin: 0 auto 45px;
	color: lightslategrey;
	font-weight: 300;
	font-size: 35px;
	letter-spacing: 0;
	line-height:38px;
}


button {
	background-color: limegreen;

}



/*
form h1{
	text-align: center;
}
*/

/*
#email, #Password{
	margin-left: 30px;
}*/