body{
	display: block;
	background-color: dodgerblue;
	font-family: 'Roboto', helvetica, sans-serif;
	box-sizing: border-box;
	margin-right: auto;
	margin-left:  auto;
	text-align: center;
	width:400px;
}


.logo {
	height: 35px;
	display: block;
	margin: 30 auto 0;
	/*width: auto;*/
}



.form_wrap{
	
	padding-left: 15px;
	padding-right: 15px; 
	background-color: white;
	/*border: 1px solid black;*/
	margin-left: auto;
	margin-right: auto;
}


.input_wrap{
	text-align: left;
}

.box{
	width: 320px;
	border: solid grey 2px;
	padding-left: 15px
	padding: 5px;
	margin-bottom: 5px;
	display: block;
}


.form_wrap fieldset{
	padding-left: 0px;
	border: none;
}


.form_text_wrap{
	margin-left: auto;
	margin-right: auto;

}


button {
	background-color: limegreen;

}

.text_color_wrap{
	color: white;
}

/*
form h1{
	text-align: center;
}
*/

/*
#email, #Password{
	margin-left: 30px;
}*/